{% extends "layout.html" %}

{% block content %}
    <h1>Оголошення</h1>

    <!-- Announcement Example -->
    <div class="announcement">
        <h2>Поїхали!</h2>
        <p>Ми раді оголосити про запуск нашої нової вдосконаленої платформи для вивчення каталонської мови. Ця платформа створена для тих, хто прагне досягти вільного володіння мовою. Розпочніть вивчення каталонської прямо зараз!</p>
    </div>


    <style>
        .announcement {
            background-color: #fff;
            border-radius: 8px;
            margin: 20px 0;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .announcement h2 {
            color: #0088cc;
            margin: 0 0 10px 0;
        }
        .announcement p {
            margin: 0;
            color: #555;
        }
    </style>
{% endblock content %}
