{% extends "layout.html" %}
{% block content %}
   
    <h1>{{ ProjectName }} FAQ</h1>
    <br>
    <ol type="1">
        <li><h6>Що таке {{ ProjectName }}?</h6></li>
                <hr>
            <p>{{ ProjectName }} — це перша платформа для вивчення каталанської мови, яка пропонує підтримку української мови.</p>
                <br>
                <br>
        <li><h6>Для кого {{ ProjectName }}?</h6></li>
                <hr>
        <p>{{ ProjectName }} був створений для всіх, хто хоче вивчати каталанську мову швидко, правильно та легко.</p>
                <br>
                <br>
        <li><h6>Хто стоїть за цим проєктом?</h6></li>
                <hr>
                <p>{{ ProjectName }} підтримується Андрієм Рудим, який надає проєкту технологічну, наукову та ідеологічну підтримку, забезпечуючи його розвиток та успішне функціонування.</p>
                <br>
                <br>
        <li><h6>Я знайшов помилку, що мені робити?</h6></li>
                <hr>
                <p>При знаходженні будь-якого виду помилок Ви завжди можете повідомити про це 
                        адміністрації проєкту на електронну пошту 
                        <a href="mailto:admin@learn-catalan.com?subject=Error on the LearnCatalan&body=Describe the error you found.">
                                admin@learn-catalan.com</a>.</p>
                <br>
                <br>
        <li><h6>Як мені зареєструвати обліковий запис?</h6></li>
                <hr>
                <p>Для початку потрібно перейти на сторінку <a href="{{ url_for('users.register') }}">Зареєструватися</a>, 
                        після чого Ви потрапите на сторінку реєстрації, де потрібно буде ввести своє ім'я 
                        (довжина якого повинна бути від 2 до 20 символів, і ім'я не повинне бути зайняте іншими користувачами), 
                        ввести свою електронну пошту в правильному форматі, ввести свій пароль і ще раз 
                        ввести свій пароль в останньому полі для того, щоб впевнитися, що Ви не помилилися при введенні пароля (тобто паролі 
                        повинні бути однакові).</p>
                <br>
                <br>
        <li><h6>Як відновити пароль?</h6></li>
                <hr>
                <p>Для початку перейдіть на сторінку <a href="{{ url_for('users.login') }}">Увійти</a> через навігаційне меню. 
                        На сторінці входу знайдіть кнопку <a href="{{ url_for('users.reset_request') }}">Забули пароль?</a> для відновлення пароля. 
                        Після натискання на кнопку <a href="{{ url_for('users.reset_request') }}">Забули пароль?</a> ви потрапите на форму, де потрібно 
                        вказати вашу електронну пошту. Після введення адреси електронної пошти та натискання кнопки "Request Password Reset", на вашу 
                        пошту надійде лист з інструкціями для відновлення пароля.</p>
                <br>
                <br>
        <li><h6>Як опублікувати новий урок?</h6></li>
                <hr>
                <p>Для того щоб опублікувати нові уроки, Вам потрібно отримати розширений доступ по запиту до адміністрації проєкту
                        <a href="mailto:admin@learn-catalan.com?subject=Cooperation with the LearnCatalan project&body=Describe your proposal for improving the project.">
                                admin@learn-catalan.com</a>.</p>
                <br>
                <br>
        <li><h6>Як зв'язатися з модератором або адміністратором для отримання допомоги?</h6></li>
                <hr>
                <p>Зв'язатися з модератором або адміністратором для отримання допомоги можна за допомогою електронної пошти
                        <a href="mailto:admin@learn-catalan.com?subject=Communication with the administration of the LearnCatalan project&body=Write your appeal to the project administration here.">
                                admin@learn-catalan.com</a>.</p>
                <br>
                <br>
        <li><h6>Що робити, якщо я натрапив на неприйнятний вміст?</h6></li>
                <hr>
                <p>Якщо ви натрапили на неприйнятний вміст, повідомте про це адміністрації на електронну пошту
                        <a href="mailto:admin@learn-catalan.com?subject=Inappropriate content found in the LearnCatalan project&body=Describe the problem you found.">
                                admin@learn-catalan.com</a>.</p>
                <br>
                <br>
    </ol>
    <br>
    <br>
{% endblock content %}