{% extends "layout.html" %}
{% block content %}
   
    <h1>{{ ProjectName }} FAQ</h1>
    <br>
    <ol type="1">
        <li><h6>Що таке {{ ProjectName }}?</h6></li>
                <hr>
            <p>{{ ProjectName }} - це перша українська платформа для вивчення каталанської мови.</p>
                <br>
                <br>
        <li><h6>Для кого {{ ProjectName }}?</h6></li>
                <hr>
        <p>{{ ProjectName }} є для всіх, хто хоче вивчати каталанську мову швидко, правильно та легко.</p>
                <br>
                <br>
        <li><h6>Хто стоїть за цим проектом?</h6></li>
                <hr>
                <p>{{ ProjectName }} підтримується Андрієм Рудим. Андрій підтримує проект науково, ідеологічно та технологічно.</p>
                <br>
                <br>
        <li><h6>Я знайшов помилку, що мені робити?</h6></li>
                <hr>
                <p>При знаходженні помилок ви завжди можете повідомити про це нам на пошту <a href="mailto:andriyrudyy22@gmail.com?subject=Error on the LearnCatalan&body=Describe the error you found">andriyrudyy22@gmail.com</a>.</p>
                <br>
                <br>
    </ol>
    <br>
    <br>
{% endblock content %}