{% extends "layout.html" %}
{% block content %}
    <h1>Updates</h1>
    <br>
    
    <ul>
        <h5>V1</h5>
        <li>Project initialization</li>
        <li>Creation of Registarion page</li>
        <li>Creation of Login page</li>
        <li>Creation of Posts page (Home page)</li>
        <li>Creation of Updates page</li>
        <li>Creation of Announcements page</li>
        <li>Creation of FAQ page</li>
        <li>Support for mobile devices</li>
        <br>
    </ul>
    
{% endblock content %}