{% extends "layout.html" %}
{% block content %}
    <h1>Оновлення</h1>
    <br>
    
    <ul>
        <h5>Версія: 0.1.0</h5>
        <li>Ініціалізація проєкту</li>
        <li>Створення сторінки "Зареєструватися"</li>
        <li>Створення сторінки "Увійти"</li>
        <li>Створення сторінки "Моя сторінка"</li>
        <li>Створення сторінки "Уроки"</li>
        <li>Створення сторінки "Оновлення"</li>
        <li>Створення сторінки "Оголошення"</li>
        <li>Створення сторінки "FAQ"</li>
        <li>Адаптація під мобільні пристрої</li>
        <br>
    </ul>
    
{% endblock content %}